.hero {
    display: grid;
    width: 100vw;
    padding: 0 5vw;
    align-items: center;
    height: 100%;
    grid-template-columns: auto 1fr;
}

.hero-content {
    grid-row: 1;
    grid-column: 2;
}

.hero-content img {
    width: 100%;
    height: auto;
    object-fit: contain;
    max-height: 83px;
}

.content-view.hidden {
    display: none;
}

.hero.hidden {
    display: none !important;
}

/* Sidebar for project info */
.project-sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    grid-row: 1;
    grid-column: 1;
    height: 100%;
    padding-top: 3vh;
}

.project-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    color: #252627;
    border-bottom: #252627 1px solid;
    padding-right: 2vw;
    padding-bottom: 1vh;
    font-family: 'Archivo', sans-serif;
}

.project-desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.palette {
    display: grid;
    gap: 5px;
    margin-bottom: 18px;
}

.palette .color {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1.5px solid #ddd;
}

.palette .color.dot-1 {
    background: #D11532;
    grid-row: 1;
    grid-column: 1;
}

.palette .color.dot-2 {
    background: #080058;
    grid-row: 1;
    grid-column: 2;
}

.palette .color.dot-3 {
    background: #312E33;
    grid-row: 2;
    grid-column: 1;
}

.palette .color.dot-4 {
    background: #FFFFFF;
    border: 1px solid #232323;
    grid-row: 2;
    grid-column: 2;
}

.project-swatches {
    display: flex;
    gap: 0;
    margin-bottom: 12px;
}

.project-swatches .swatch {
    width: 40px;
    height: 50px;
}

.project-swatches .swatch.square-1 {
    background: #232323;
}

.project-swatches .swatch.square-2 {
    background: #d91d2a;
}

.project-swatches .swatch.square-3 {
    background: #1a234c;
}

.slider-block {
    background: #f3f8ff;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.13);
    border-radius: 8px;
    padding: 32px 48px;
    transform: rotate(-25deg);
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 260px;
    min-height: 140px;
    position: relative;
    z-index: 2;
}

.slider-block img {
    width: 180px;
    height: auto;
    object-fit: contain;
    display: block;
}