.hero {
    display: grid;
    width: 100vw;
    padding: 0 5vw;
    align-items: center;
    height: 100%;
    grid-template-columns: auto 1fr;
}

.project-content {
    grid-row: 1;
    grid-column: 2;
}

.content-view.hidden {
    display: none;
}

.hero.hidden {
    display: none !important;
}

/* Sidebar for project info */
.project-sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    grid-row: 1;
    grid-column: 1;
    height: 100%;
    padding-top: 6vh;
}

.project-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    color: #252627;
    border-bottom: #252627 1px solid;
    padding-right: 2vw;
    padding-bottom: 1vh;
    font-family: 'Archivo', sans-serif;
}

.project-desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.palette {
    display: grid;
    gap: 5px;
    margin-bottom: 18px;
}

.palette .color {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1.5px solid #ddd;
}

.palette .color.dot-1 {
    background: #D11532;
    grid-row: 1;
    grid-column: 1;
}

.palette .color.dot-2 {
    background: #080058;
    grid-row: 1;
    grid-column: 2;
}

.palette .color.dot-3 {
    background: #312E33;
    grid-row: 2;
    grid-column: 1;
}

.palette .color.dot-4 {
    background: #FFFFFF;
    border: 1px solid #232323;
    grid-row: 2;
    grid-column: 2;
}

.project-content {
    height: 100%;
    padding: 6vh 6vw;
    display: flex;
    justify-content: center;
    align-content: flex-end;
    align-items: flex-end;
}

.slider-container {
    display: grid;
    grid-template-columns: 1fr auto;
    transform: rotate(-45deg);
    width: 33vw;
    height: 100%;
    gap: 6vw;
    overflow-x: hidden;
}

.slider {
    display: flex;
    /* width: 100%; */
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    z-index: 1;
    position: absolute;
}

.slider-block {
    background: #F3F8FF;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 24vw;
    height: 26vh;
}

.slider-block img {
    height: 5vh;
    object-fit: contain;
    display: block;
}

.scroll-bar-container {
    grid-column: 2;
    height: 100%;
    display: flex;
    align-items: flex-end;
    z-index: 2;
}

.scroll-bar {
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.scroll-bar::before {
    content: "";
    width: 2px;
    height: 95%;
    background: #013255;
    pointer-events: none;
    display: flex;
    position: absolute;
    bottom: 2px;
}

.scroll-thumb {
    width: 14px;
    height: 13px;
    border-radius: 50%;
    border: 1.5px solid #F6F628;
    background-color: #F6F628;
    z-index: 2;
}