* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

p {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Didact Gothic', sans-serif;
    background: #fff;
    color: #000;
    overflow: hidden;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    padding: 6vh 5vw;
}

header h1 {
    font-family: 'Archivo Black', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 86px;
    line-height: 64px;
    color: #013255;
    margin: 0;
}

header p {
    font-family: 'Didact Gothic', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #000;
    margin: 24px 0 0;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    font-family: 'Akatab', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #000;
    position: relative;
    padding: 4px 8px;
    transition: background 0.3s ease;
}

nav a.active {
    background: rgba(246, 246, 40, 0.17);
    border-radius: 4px;
}

.hero {
    display: none;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 62vh;
}

.content-view.hidden {
    display: none;
}

.hero.hidden {
    display: none !important;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    line-height: 21px;
    font-family: 'Didact Gothic', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #000;
    padding: 2vh 5vw;
    padding: 3vh 5vw;
    /* flex-shrink: 0; */
    position: fixed;
    bottom: 0px;
    width: 100vw;
}

.linkedin-icon {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.linkedin-icon img {
    margin-right: 6px;
}

.content-view {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 7vw;
    padding: 40px 10vw;
    overflow: hidden;
}

.content-view h3 {
    font-weight: bold;
    margin-bottom: 10px;
}

.content-view ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.content-view li {
    margin-bottom: 10px;
}

.tools-logos {
    display: flex;
    gap: 24px;
    margin-top: 18px;
    align-items: center;
    justify-content: flex-start;
}

.tools-logos img {
    height: 38px;
    width: auto;
    filter: grayscale(0.2) brightness(0.95);
    transition: filter 0.2s;
}

.tools-logos img:hover {
    filter: none;
}