.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.23);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.popup-overlay.hidden {
    opacity: 0;
    pointer-events: none;
    transform: opacity 0.3s ease;
}

.popup {
    width: 90vw;
    height: 90vh;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 8px;
}

.popup-content {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    width: 100%;
    overflow-y: auto;
    text-align: center;
    position: relative;
    overflow-x: hidden;
}

.popup-content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.popup-close {
    position: absolute;
    top: 8vh;
    right: 7vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: black;
    /* or a color that suits your popup */
    z-index: 1001;
}

.popup-content {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 1rem;
}

.popup-content .left-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-column: 1;
    max-width: 60vw;
}

.popup-content .right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 2;
}

.close-container {
    margin: auto;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1.5vw;
}

.leftright {
    height: 4px;
    width: 100%;
    position: absolute;
    margin-top: 24px;
    background-color: black;
    border-radius: 2px;
    transform: rotate(45deg);
    transition: all .3s ease-in;
}

.rightleft {
    height: 4px;
    width: 100%;
    position: absolute;
    margin-top: 24px;
    background-color: black;
    border-radius: 2px;
    transform: rotate(-45deg);
    transition: all .3s ease-in;
}

.close-container:hover .leftright {
    transform: rotate(-45deg);
    background-color: #f00;
}

.close-container:hover .rightleft {
    transform: rotate(45deg);
    background-color: #f00;
}

.popup-scrollbar {
    position: relative;
    width: 5px;
    height: 100%;
    background-color: red;
}